@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Light.eot');
    src: local('../fonts/Mulish Light'), local('../fonts/Mulish-Light'),
        url('../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Light.woff2') format('woff2'),
        url('../fonts/Mulish-Light.woff') format('woff'),
        url('../fonts/Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Bold.eot');
    src: local('../fonts/Mulish Bold'), local('../fonts/Mulish-Bold'),
        url('../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff'),
        url('../fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.eot');
    src: local('../fonts/Mulish Regular'), local('../fonts/Mulish-Regular'),
        url('../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff'),
        url('../fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





