*{
  box-sizing: border-box;
}

/* стилизация ползунка для mozilla firefox */
html,
body {
  scrollbar-color: rgb(31, 32, 32)
  #686d6d;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина auto | thin | none; */
}

body{
  background-color: #323636;
  color: #fff;
  font-family:'Mulish',sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* сбросы стилей */
button{
  cursor: pointer;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

/* стилизация overflow для webkit браузеров*/
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: rgb(31, 32, 32); }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece {background-color: #686d6d;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(31, 32, 32); border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

.header{
  padding: 10px 32px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282b2b;
  z-index: 999;
}

.menu-button{
  border: none;
  width: 25px;
  height: 25px;
  background-color:rgb(50, 54, 54);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 28px;
}

.menu-line{
  height: 2px;
  background-color: #fff;
  width: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.logo{
  margin-right: 8%;
}

.input-group{
  background-color: rgba(32, 34, 34, 1);
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
  align-items: center;
  max-width: 830px; 
  width: 50%;
  margin-right: 30px;
}

input[type="search"]{
  border: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  padding: 12px 23px;
  cursor: auto;
  width: 100%;
}

.button-search{
  border: none;
  width: 19px;
  height: 19px;
  background-color: transparent;
}

.icons{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-search{
  fill: #fff;
}

.icons-style {
  fill:#ffffff;
  opacity: 0.24;
}

.icons-style:hover {
  opacity: 0.44;
}

.icons-link:not(:last-child){
  margin-right: 50px;
}
.user{
  margin-left: 45px;
}
.user-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-menu{
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
}

.nav-menu:nth-child(3){
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  /* position: relative; */
}

.sidebar{
  /* padding-left: 28px; */
  padding-top: 45px;
  position: fixed;
  left: 0;
  top: 55px;
  height: calc(100% - 55px);
  overflow-y: auto;
  /* прокручиваемое меню */
  width: 19%;
  max-width: 300px ;
  background-color: #2a2e2e;
  overflow-x: auto;
  min-width: 200px;
  
}

.nav-item{
  /* margin-bottom: 28px; */
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
}

.nav-link{
  display: flex;
  align-items: flex-end;
}

.nav-item:hover{
  color:red;
  /* background-color: rgba(31, 32, 32,.3); */
  background-color: rgb(102, 102, 102,.5);
}

.icons-hover:hover{
  fill:red;
}

.nav-text{
  margin-left: 15px;
}

.nav-title{
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-left: 28px;
}

.nav-image{
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.center{
  align-items: center !important;
}

.content{
  /* width: calc(100% - 20%); */
  /* height: 400px; */
  /* background-color: green; */
  margin-top: 63px;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 1%;
  
  /* padding-left: 300px; */
}

/* .flex-box{
  display: flex;
} */

/* .content {
  width: calc(100% - 200px);
  padding: 0 30px;
} */

.channel {
  position: relative;
  margin-bottom: 49px;
}

.channel-title{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
  width: 80%;
  padding-left: 15px;
}

.channel-avatar{
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-right: 20px;
}

/* main-content */
.video-thumb{
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0px 50px; */
}

.video-duration{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-radius: 12px;
  padding: 7px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.video-counter{
  font-weight: 300;
  font-size: 13px;
  display: flex;
}

.video-title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.video-info {
  letter-spacing: 1px;
  font-size: 13px;
  color: #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.video-card{
  width: 33%;
  /* margin-bottom: 30px; */
  padding: 15px;
}

.video-channel{
   font-weight: 300;
}

.swiper-slide{
  margin-right: 100px;
}

.video-views{
  margin-right: 5px;
}
.video-views::after{
  content:'';
  width: 2px;
  height: 2px;
  margin-left: 6px;
  display: inline-block;
  background-color: #C2C2C2;
  vertical-align: middle;
}

.video-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.channel-header{
  padding-left: 15px;
}

.mobile-sidebar {
  display: none;
}

.mobile-search{
  display: none;
}

/* ------------------- */
@media(min-width:1680px){
  .content {
    padding-left: 18%;
    padding-right: 2%;
  }
}

@media (max-width: 1600px) {
  .video-thumb {
    height: 210px;
  }
}

@media (max-width: 1360px) {
  .video-card {
    width: 50%;
    padding: 15px;
  }

  .video-thumb {
    height: 20vw;
  }

  .header .mobile-search {
    display: none;
  }
}

@media (max-width:994px) {
  .nav-text{
   font-size: 14px;
  }

  .recommended-title{
    padding-left: 40px;
    font-size: 18px;
  }

  .channel-title {
    font-size: 18px;
    padding-left: 30px;
  }

  .content {
    padding-left: 23%;
    padding-right: 20px;
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video-card{
    width: 50%;
  }
}

@media(max-width:884px){
  .sidebar{
    min-width: 180px;
    width: 17%;
  }
  .icons{
    display: none;
  }

  .user{
    margin-left: auto;
  }
}

@media(max-width:792px) {
  .video-card{
    width: 90%;
  }

  .video-thumb {
    height: 40vw;
  }

  .content {
    padding-left: 25%;
    padding-right: 10px;
  }
}

@media(max-width:660px){
  .menu-button{
    display: none;
  }

  .sidebar{
    display: none;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .video-card {
    width: 100%;
  }

  .mobile-sidebar{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2A2E2E;
    display: block;
  }

  .mobile-sidebar .nav-item {
    padding: 0; 
  }

  .mobile-sidebar .nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-sidebar .nav-menu{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #282b2b;
    ;
  }

  .mobile-sidebar .nav-text{
    margin: 0;
    font-size: 12px;
  }

   .mobile-sidebar .icon{
     margin-bottom: 10px;
   }

   body{
     padding-bottom: 50px;
   }
    
}

@media(max-width:440px){
  .header{
    position: relative;
  }
  #mobile-search {
    display: inline-block;
    position: relative;
    z-index: 55;
    margin-left: 35px;
  }
}

@media(max-width: 456px) {
  .input-group{
    position: fixed;
    top: 12px;
    left: 10px;
    opacity: 0;
    width: 230px;
  }
  .input-group.is-open {
    opacity: 1;
  }

  .content{
  margin-top: 33px;
  }
}

